[Unit]
Description=Telegram Terminal Bot
After=network.target

[Service]
Type=simple
User=
WorkingDirectory=
ExecStart=/start.sh
Restart=always
RestartSec=10
StandardOutput=append:/logs/bot.log
StandardError=append:/logs/bot_error.log

[Install]
WantedBy=multi-user.target
EOF < /dev/null
